<% provide :title, t("header.home") %>
<h1><%= t("home.description_1") %></h1>
<p>
  <%= t("home.description_2") %>
  <strong><%= t("home.description_3") %></strong>
  <%= link_to t("home.description_2"), Settings.rails_tutorial_url, class: "link-class" %>
</p>
